/db/centralized/master_data.json
/db/centralized/slave_1_data.json
/db/centralized/slave_2_data.json
/db/decentralized/node_1_data.json
/db/decentralized/node_2_data.json
/db/decentralized/node_3_data.json
